/* General Tisms */
html {
    height: 100%;
    background: hsla(0, 25%, 25%, 1);
    color: white;
    font-family: optima, sans-serif;
}

body {
    font-family: optima, sans-serif;
    padding-top: 20px;
}

a {
    color: hsla(7, 52%, 80%, 1);
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    padding-left: 20px;
    font-size: 24px;
}

p {
    font-size: 20px;
}

table {
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    font-size: 20px;
}

hr {
    width: 400px;
}

span {
    padding-left: 20px;
}

span.tism {
    margin-top: -170px;
    padding-bottom: 130px;
    display: block;
}

span.footnote {
    margin-top: -230px;
    padding-bottom: 210px;
    display: inline-block;
}

/* Header Tisms */

.invisible-header {
    visibility: hidden;
    height: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 5;
}

.banner {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "name nav";
}

#name {
    display: inline-block;
    width: 180px;
    grid-area: name;
}

nav {
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: 40px;
    grid-template-areas: "a b c d e"
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.dropdown {
    text-align: center;
    position: relative;
    grid-area: a;
    font-size: 20px;
    padding-top: 10px;
    color: hsla(7, 52%, 80%, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 280px;
}

.dropdown:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contents-table {
    display: grid;
    padding-bottom: 30px;
    width: 240px;
    grid-template-columns: 240px;
    grid-template-rows: repeat(5, 40px);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
}

.content {
    position: relative;
    top: 10px;
}

.item {
    text-align: left;
    width: 240px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.box {
    text-align: center;
    padding-top: 10px;
}

.box:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
    text-align: center;
}

/* Contact Dropdown Tisms*/

.dummy {
    color: white;
}

.dropcontact {
    text-align: center;
    position: relative;
    grid-area: d;
    font-size: 20px;
    padding-top: 10px;
    color: hsla(7, 52%, 80%, 1);
}

.dropcontact-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 360px;
}

.dropcontact:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropcontact:hover .dropcontact-content {
    display: block;
}

.dropcontact-table {
    display: grid;
    width: 360px;
    padding-bottom: 30px;
    grid-template-columns: 360px;
    grid-template-rows: repeat(3, 40px);
    grid-template-areas: "e-mail" "cell-no" "linked-in";
}

.contact-content {
    position: relative;
    top: 10px;
}

.contact-item {
    text-align: left;
    width: 320px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.email-address {
    grid-area: e-mail;
}

.cell-no {
    grid-area: cell-no;
}

.linked-in {
    grid-area: linked-in;
}

/* Body Tisms */

.main {
    width: 920px;
    margin: auto;
    grid-template-columns: 960px;
    grid-template-rows: auto;
    background-color: hsla(0, 22%, 22%, 1);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.section_title {
    width: 900px;
    padding: 10px;
    margin: auto;
}

.section_break {
    padding: 20px;
}

.company {
    font-style: italic;
}

.start {
    text-align: left;
}

.dash {
    text-align: center;
}

.end {
    text-align: right;
}

.institution, .date, .position, .category, .contact_type {
    font-weight: bold;
}

/* Introduction Tisms*/

.top {
    width: 900px;
    display: grid;
    margin: auto;
    padding-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "greeting image" "introduction image";
}

.greeting {
    grid-area: greeting;
    padding-left: 30px;
}

.introduction {
    grid-area: introduction;
    padding-left: 30px;
    padding-right: 40px;
}

.image {
    grid-area: image;
}

/* Work Experience Tisms */

.job {
    width: 880px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 37% 10% 3% 10%;
    grid-template-rows: 40px auto;
    grid-template-areas: "company location date-start date-dash date-end" "deets deets deets deets deets";
}

.choral {
    width: 880px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 37% 10% 3% 10%;
    grid-template-rows: 40px auto;
    grid-template-areas: "company location date-start date-dash date-end";
}

.position {grid-area: position;}

.company {
    grid-area: company;
}

.location {
    grid-area: location;
    text-align: center;
}

.date-start {
    grid-area: date-start;
    font-weight: bold;
    text-align: left;
}

.date-dash {
    grid-area: date-dash;
    font-weight: bold;
    text-align: center;
}

.date-end {
    grid-area: date-end;
    font-weight: bold;
    text-align: right;
}

.deets {
    grid-area: deets;
}

/* Composition Tisms */

.requiem {
    width: 920px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 40px;
    grid-template-areas: "movdown orchestration comp-date";
}

.movdown {
    position: relative;
    grid-area: movdown;
    width: 200px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
    color: hsla(7, 52%, 80%, 1);
}

.orchestration {
    grid-area: orchestration;
    padding-top: 10px;
}

.comp-date {
    grid-area: comp-date;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
}

.movdown-cont {
    display: none;
    position: relative;
    top: 6px;
    right: 20px;
    background-color: hsla(0, 15%, 15%, 1);
    z-index: 6;
    width: 520px;
    overflow: auto;
}

.movdown:hover {
    background-color: hsla(0, 15%, 15%, 1);
}

.movdown:hover .movdown-cont {
    display: block;
}

.movements-table {
    display: grid;
    padding-bottom: 30px;
    width: 520px;
    grid-template-columns: 260px 260px;
    grid-template-rows: repeat(9, 40px);
    grid-template-areas: "mov1 mov10" "mov2 mov11" "mov3 mov12" "mov4 mov13" "mov5 mov14" "mov6 mov15" "mov7 mov16" "mov8 mov17" "mov9 mov9";
}

.cont {
    position: relative;
    top: 10px;
}

.mov {
    text-align: left;
    width: 220px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.mov:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.one {
    grid-area: mov1;
}

.two {
    grid-area: mov2;
}

.three {
    grid-area: mov3;
}

.four {
    grid-area: mov4;
}

.five {
    grid-area: mov5;
}

.six {
    grid-area: mov6;
}

.seven {
    grid-area: mov7;
}

.eight {
    grid-area: mov8;
}

.nine {
    grid-area: mov9;
}

.ten {
    grid-area: mov10;
}

.eleven {
    grid-area: mov11;
}

.twelve {
    grid-area: mov12;
}

.thirteen {
    grid-area: mov13;
}

.fourteen {
    grid-area: mov14;
}

.fiteen {
    grid-area: mov15;
}

.sixteen {
    grid-area: mov16;
}

.seventeen {
    grid-area: mov17;
}

.compositions {
    width: 920px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 40px;
    grid-template-areas: "title orchestration comp-date";
}

.title {
    font-style: italic;
    padding-left: 20px;
    padding-top: 10px;
}

/* Skill Tisms */

.skills {
    display: grid;
    margin: auto;
    width: 880px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 20px);
    grid-template-areas: "instrument instruments" "musical musicals" "engraving engravings" "admin admins";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.instrument {
    grid-area: instrument;
    font-weight: bold;
}

.instruments {
    grid-area: instruments;
}

.musical {
    grid-area: musical;
    font-weight: bold;
}

.musicals {
    grid-area: musicals;
}

.engraving {
    grid-area: engraving;
    font-weight: bold;
}

.engravings {
    grid-area: engravings;
}

.admin {
    grid-area: admin;
    font-weight: bold;
}

.admins {
    grid-area: admins;
}

/* Footer Tisms */

footer {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, hsla(0, 15%, 15%, 1), hsla(0, 20%, 20%, 1));
    padding-bottom: 20px;
}

#contact_header {
    width: 930px;
    margin: auto;
    padding-top: 20px;
}

.contact {
    display: grid;
    margin: auto;
    width: 920px;
    grid-template-columns: 1fr 2fr 8fr;
    grid-column-gap: 100px;
    grid-template-rows: 25px 25px 25px;
    grid-template-areas: "email emails emails" "cellno cellnos cellnos" "online onlines copyright";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.email {
    grid-area: email;
    font-weight: bold;
}

.emails {
    grid-area: emails;
}

.cellno {
    grid-area: cellno;
    font-weight: bold;
}

.cellnos {
    grid-area: cellnos;
}

.online {
    grid-area: online;
    font-weight: bold;
}

.onlines {
    grid-area: onlines;
}

.copyright {
    grid-area: copyright;
    text-align: right;
}

/* Hyper-Specific Tisms */

.rockefeller {
    display: grid;
    width: 880px;
    margin: auto;
    padding-top: 20px;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas: "perform stageshot" "description stageshot" "label stageshot";
}

.perform {
    grid-area: perform;
}

.description {
    grid-area: description;
    padding-right: 40px;
}

.label {
    grid-area: label;
    padding-left: 80px;
    padding-right: 40px;
}

.talent {
    display: grid;
    width: 880px;
    margin: auto;
    padding-top: 20px;
    grid-template-rows: 586px 60px;
    grid-template-areas: "stageshot" "caption";
}

.jcs {
    display: grid;
    width: 880px;
    margin: auto;
    padding-top: 20px;
    grid-template-rows: 495px 60px;
    grid-template-areas: "stageshot" "caption";
}

.stageshot {
    grid-area: stageshot;
}

.caption {
    grid-area: caption;
    text-align: center;
    font-size: 25px;
}

#home {
    color: white;
}