/* Work Experience */

.job {
    display: flex;
    max-width: 100%;
    padding: 0 1.5rem;
    flex-flow: row wrap;
    justify-content: space-between;
}

.job p {
    display: block;
}

.position {
    min-width: 14rem;
    font-weight: bold;
}

.comp-tisms {
    flex: 1 1 20rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.company {
    min-width: 12rem;
    font-style: italic;
}

.location {
    min-width: 8rem;
}

/* Presentation Tisms*/

#pres-head {
    padding-bottom: 2rem;
}

.presentations {
    max-width: 100%;
    padding: 0 1.5rem 1rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.presentations p {
    display: block;
}

.title-tisms {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1 1 70%;
    margin: 0;
}

.title {
    margin: 0;
}

.subtitle {
    padding-left: 1rem;
    padding-right: 2rem;
    margin: 0;
}

.details {
    display: flex;
    min-width: 25%;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
}

.venue {
    text-align: left;
    font-style: italic;
    min-width: 10rem;
    margin: 0;
}

.date-tism {
    font-weight: bold;
    text-align: right;
    min-width: 3rem;
    margin: 0;
}

/* Skill Tisms */

.skills {
    display: flex;
    flex-flow: row wrap;
}

.skills p {
    display: block;
}

.skill-cat {
    display: block;
    flex: 1 1 32rem;
}

#software {
    padding-right: 2.5rem;
}

.cat-title {
    padding-left: 1.5rem;
}

.sub-cat {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 2.5rem;
}

.kind {
    font-weight: bold;
    min-width: 13rem;
    padding: 0;
    margin: 0.5rem 0;
}

.skill-list {
    flex: 1 1 65%;
    padding-left: 0.5rem;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0.5rem 0;
}

#languages {
    padding-right: 0.875rem;
}

#admin {
    padding-right: 0.875rem;
}

.note {
    text-align: right;
    padding-right: 0.5rem;
}