html {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background-color: white;
	scroll-behavior: smooth;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

*::-webkit-scrollbar {
	display: none;
}

header {
	width: 100%;
	background-color: black;
	/* background-image: linear-gradient(to bottom right, #000000, #111111); */
	color: white;
	/* position: absolute; */
	top: 0;
	left: 0;
	z-index: 5;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	header {
		position: fixed;
		z-index: 8;
	}
	div.main h1:first-child {
		margin-top: 7rem;
	}
	a.icon {
		visibility: hidden;
	}
}

img {
	max-width: 100%;
}

footer {
	width: 100%;
	bottom: 0;
	left: 0;
}

nav {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

nav img {
	height: 2.5rem;
	margin: 1rem;
	flex-shrink: 0;
	box-sizing: border-box;
	/* border: 1px solid green; */
}

div.logo {
	width: 8rem;
	margin: 0;
	font-size: 1.15rem;
	font-weight: bold;
	color: white;
	box-sizing: border-box;
}

@media screen and (min-width: 375px) {
	div.logo {
		/* height: 2.5rem; */
		/* padding: 1rem 0; */
		font-size: 1.15rem;
		font-weight: bold;
		color: white;
		box-sizing: border-box;
		width: initial;
		margin: auto;
	}
}

#bandj {
	display: flex;
}

#advanced {
	display: none;
}

@media screen and (min-width: 768px) {
	#bandj {
		display: none;
	}
	#advanced {
		display: flex;
	}
}

p {
	max-width: 66ch;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: #ad0000;
}

figure {
	margin: 1em 0;
}

#navlinks a {
	color: white;
}

#navlinks {
	display: none;
	flex-direction: column;
	/* padding: 1rem; */
	z-index: 1;
}

#navlinks div:first-child {
	margin-top: 4rem;
}

#ul-side {
	display: none;
}

@media screen and (min-width: 768px) {
	#navlinks {
		display: flex;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 20%;
		overflow: scroll;
		z-index: 7;
		background-color: black;
		padding-bottom: 115px;
	}
	#ul-side {
		display: inline-block;
		height: 2.5rem;
		margin: 1.1em;
		align-self: flex-start;
		box-sizing: border-box;
		top: 0;
		left: 0;
	}
}

#navlinks ul {
	list-style-type: none;
}

#navlinks div a {
	/* border: 1px dotted blue; */
	margin: 0;
	padding: 0.5em 1em;
	/* box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); */
	background-image: linear-gradient(to bottom right, #000000, #111111);
}

ul.l1 {
	padding-left: 0;
}

/* ul.l2, ul.l3, ul.l4, ul.l5 {
	padding-left: 1em;
} */

/* #navlinks li {
	padding-left: 2em;
	text-indent: -2em;
} */

/* a { border: 1px dotted green; } */

#navlinks a {
	display: block;
}

#navlinks a p {
	margin: 0;
	text-indent: -1em;
}

@media screen and (min-width: 768px) {
	#navlinks a p {
		font-size: 1rem;
		text-indent: -1em;
	}
}

a.l1 p {
	font-size: x-large;
	padding-left: 1em;
}

a.l2 p {
	font-size: larger;
	padding-left: 2em;
}

a.l3 p {
	font-size: large;
	padding-left: 3em;
}

a.l4 p {
	font-size: medium;
	padding-left: 4em;
}

a.l5 p {
	font-size: small;
	padding-left: 5em;
}

a.l6 p {
	font-size: smaller;
	padding-left: 6em;
}

a.l7 p {
	font-size: x-small;
	padding-left: 7em;
}

div.spacer {
	display: none;
	height: 5rem;
	margin: 0;
	padding: 0;
}

div.main {
	max-width: 66ch;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem;
	flex: 1;
}

@media screen and (min-width: 768px) {
	div.main {
		margin-left: 25%;
	}
}

p.address {
	font-size: 1.3rem;
}

div.author {
	padding: 0.5em 0;
}

p.name {
	margin: 0;
}

p.credentials {
	font-style: italic;
	margin: 0;
	padding-left: 1em;
}

p.placeholder {
	color: red;
}

div.page-placeholder {
	height: 75vh;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	z-index: 8;
}

footer img {
	max-width: 700px;
	flex-shrink: 1;
}

h5 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

span.h6 {
	font-size: 1em;
	color: #ad0000;
}

div.table {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: scroll;
}

table {
	border-collapse: collapse;
	font-size: small;
}

th {
	text-align: left;
	border-bottom: 2px solid #ad0000;
}

td {
	border-bottom: 1px solid gray;
	vertical-align: top;
}

td:first-child, th:first-child {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	background-color: white;
}

th, td {
	padding: 1em 1em 1em 0;
}

tr.midrow td {
	color: #ad0000;
	font-weight: bold;
	border-bottom: 1px solid #ad0000;
}

caption {
	text-align: left;
}

figcaption {
	font-size: small;
}

div.lightbox {
	background-color: black;
}

.block {
	display: block;
}

.center {
	margin: auto;
}

/* wider than cell phone */

@media only screen and (min-width: 768px) {
	#cell-only {
		display: none;
	}
}

/* * { border: 1px dotted blue; } */