/* General Tisms */
html {
    height: 100%;
    background: hsla(210, 25%, 25%, 1);
    color: white;
    font-family: optima;
}

body {
    font-family: optima;
    padding-top: 20px;
}

a {
    color: hsla(217, 52%, 80%, 1);
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    padding-left: 20px;
    font-size: 24px;
}

p {
    font-size: 20px;
}

table {
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    font-size: 20px;
}

hr {
    width: 400px;
}

span {
    padding-left: 20px;
}

span.tism {
    margin-top: -170px;
    padding-bottom: 130px;
    display: block;
}

span.footnote {
    margin-top: -230px;
    padding-bottom: 210px;
    display: inline-block;
}

.reg {
    font-size: 10px;
}

/* Header Tisms */

.invisible-header {
    visibility: hidden;
    height: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: hsla(210, 15%, 15%, 0.9);
    z-index: 5;
}

.banner {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "name nav";
}

#name {
    display: inline-block;
    width: 180px;
    grid-area: name;
}

nav {
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: 40px;
    grid-template-areas: "a b c d e"
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.dropdown {
    text-align: center;
    position: relative;
    grid-area: a;
    font-size: 20px;
    padding-top: 10px;
    color: hsla(217, 52%, 80%, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(210, 15%, 15%, 0.9);
    z-index: 6;
    width: 384px;
}

.dropdown:hover {
    background-color: hsla(210, 25%, 25%, 0.9)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contents-table {
    display: grid;
    padding-bottom: 30px;
    width: 384px;
    grid-template-columns: 384px;
    grid-template-rows: repeat(6, 40px);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
}

.content {
    position: relative;
    top: 10px;
}

.item {
    text-align: left;
    width: 344px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.item:hover {
    background-color: hsla(210, 25%, 25%, 0.9);
}

.box {
    text-align: center;
    padding-top: 10px;
}

.box:hover {
    background-color: hsla(210, 25%, 25%, 0.9);
    text-align: center;
}

/* Contact Dropdown Tisms*/

.dummy {
    color: white;
}

.dropcontact {
    text-align: center;
    position: relative;
    grid-area: d;
    font-size: 20px;
    padding-top: 10px;
    color: hsla(217, 52%, 80%, 1);
}

.dropcontact-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(210, 15%, 15%, 0.9);
    z-index: 6;
    width: 384px;
}

.dropcontact:hover {
    background-color: hsla(210, 25%, 25%, 0.9)
}

.dropcontact:hover .dropcontact-content {
    display: block;
}

.dropcontact-table {
    display: grid;
    width: 384px;
    padding-bottom: 30px;
    grid-template-columns: 360px;
    grid-template-rows: repeat(3, 40px);
    grid-template-areas: "e-mail" "cell-no" "linked-in";
}

.contact-content {
    position: relative;
    top: 10px;
}

.contact-item {
    text-align: left;
    width: 344px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-item:hover {
    background-color: hsla(210, 25%, 25%, 0.9);
}

.email-address {
    grid-area: e-mail;
}

.cell-no {
    grid-area: cell-no;
}

.linked-in {
    grid-area: linked-in;
}

/* Body Tisms */

.main {
    width: 920px;
    margin: auto;
    grid-template-columns: 960px;
    grid-template-rows: auto;
    background-color: hsla(210, 22%, 22%, 1);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.section_title {
    width: 900px;
    padding: 10px;
    margin: auto;
}

.section_break {
    padding: 20px;
}

.company {
    font-style: italic;
}

.start {
    text-align: left;
}

.dash {
    text-align: center;
}

.end {
    text-align: right;
}

.institution, .date, .position, .category, .contact_type {
    font-weight: bold;
}

/* Introduction Tisms*/

.top {
    width: 900px;
    display: grid;
    margin: auto;
    padding-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "greeting image" "introduction image";
}

.greeting {
    grid-area: greeting;
    padding-left: 30px;
}

.introduction {
    grid-area: introduction;
    padding-left: 30px;
    padding-right: 40px;
}

.image {
    grid-area: image;
}

/* Recommendation Tisms */

.recomm {
    width 880px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 60px 2fr 1fr 60px;
    grid-template-rows: 50px 60px 50px auto;
    grid-template-areas: "quotel reco-text reco-text blankr" "blankml reco-text reco-text blankmr" "blankl reco-text reco-text quoter" "recommender recommender  reco-link reco-link";
}

.quotel {
    grid-area: quotel;
    font-family: georgia;
    font-size: 100px;
    padding-top: 0px;
}

.blankr {
    grid-area: blankr;
}

.blankl {
    grid-area: blankl;
}

.quoter {
    grid-area: quoter;
    font-family: georgia;
    font-size: 100px;
}

.reco-text {
    grid-area: reco-text;
}

.recommender {
    grid-area: recommender;
    text-indent: -20px;
    padding-left: 40px;
}

.reco-link {
    grid-area: reco-link;
    text-align: right;
}

/* Education Tisms */

.education {
    width: 880px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 30% 10% 15% 20% 10% 5% 10%;
    grid-template-rows: 40px;
    grid-template-areas: "institution degree major gpa date-start date-dash date-end"
}

.institution {
    grid-area: institution;
}

.degree {
    grid-area: degree;
}

.major {
    grid-area: major;
}

gpa {
    grid-area: gpa;
}

/* Work Experience Tisms */

.job {
    width: 880px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 30% 27% 20% 10% 3% 10%;
    grid-template-rows: 40px auto;
    grid-template-areas: "position company location date-start date-dash date-end" "deets deets deets deets deets deets";
}

.position {
    grid-area: position;
}

.company {
    grid-area: company;
    text-align: center;
}

.location {
    grid-area: location;
    text-align: center;
}

.date-start {
    grid-area: date-start;
    font-weight: bold;
    text-align: left;
}

.date-dash {
    grid-area: date-dash;
    font-weight: bold;
    text-align: center;
}

.date-end {
    grid-area: date-end;
    font-weight: bold;
    text-align: right;
}

.deets {
    grid-area: deets;
}

/* Presentation Tisms*/

.presentations {
    width: 880px;
    padding-left: 20px;
    padding-right: 20px;
    font-size 20px;
    display: grid;
    grid-template-columns: 70% 25% 5%;
    grid-template-rows: 40px 40px;
    grid-template-areas: "title venue date-end";
}

.title {
    grid-area: title;
    font-weight: bold;
}

.venue {
    grid-area: venue;
    font-style: italic;
}

/* Skill Tisms */

.skills {
    display: grid;
    margin: auto;
    width: 880px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px repeat(5, 20px) 40px 40px 20px 60px;
    grid-template-areas: "software software" "general generals" "office offices" "adobe adobes" "other others" "prog_lang prog_langs" "other_skills other_skills" "lang langs" "admin admins" "note note";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.software {
    grid-area: software;
    padding-left: 0px;
}

.general {
    grid-area: general;
    font-weight: bold;
    padding-left: 20px;
}

.generals {
    grid-area: generals;
}

.office {
    grid-area: office;
    font-weight: bold;
    padding-left: 20px;
}

.offices {
    grid-area: offices;
}

.adobe {
    grid-area: adobe;
    font-weight: bold;
    padding-left: 20px;
}

.adobes {
    grid-area: adobes;
}

.other {
    grid-area: other;
    font-weight: bold;
    padding-left: 20px;
}

.others {
    grid-area: others;
}

.prog_lang {
    grid-area: prog_lang;
    font-weight: bold;
    padding-left: 20px;
}

.prog_langs {
    grid-area: prog_langs;
}

.other_skills {
    grid-area: other_skills;
    padding-left: 0px;
    padding-top: 20px;
}

.lang {
    grid-area: lang;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.langs {
    grid-area: langs;
    padding-top: 20px;
}

.admin {
    grid-area: admin;
    font-weight: bold;
    padding-left: 20px;
}

.admins {
    grid-area: admins;
}

.note {
    grid-area: note;
    padding-top: 40px;
    font-style: italic;
    padding-left: 60px;
}

/* Footer Tisms */

footer {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, hsla(210, 15%, 15%, 1), hsla(210, 20%, 20%, 1));
    padding-bottom: 20px;
}

#contact_header {
    width: 930px;
    margin: auto;
    padding-top: 20px;
}

.contact {
    display: grid;
    margin: auto;
    width: 920px;
    grid-template-columns: 192px 1fr 1fr;
    grid-template-rows: 25px 25px 25px;
    grid-template-areas: "email emails emails" "cellno cellnos cellnos" "online onlines copyright";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.email {
    grid-area: email;
    font-weight: bold;
}

.emails {
    grid-area: emails;
}

.cellno {
    grid-area: cellno;
    font-weight: bold;
}

.cellnos {
    grid-area: cellnos;
}

.online {
    grid-area: online;
    font-weight: bold;
}

.onlines {
    grid-area: onlines;
}

.copyright {
    grid-area: copyright;
    text-align: right;
}

/* Hyper-Specific Tisms */

#home {
    color: white;
}

#present {
    text-align: left;
}