/* General Tisms */
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 1rem;
    background: hsla(210, 25%, 25%, 1);
    color: white;
    font-family: optima;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
html {
    -ms-overflow-style: none;
}

body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

a {
    color: hsla(217, 52%, 90%, 1);
    text-decoration: none;
    font-size: 1rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    padding-left: 1rem;
    font-size: 1.2rem;
}

li {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

hr {
    width: 40%;
}

span {
    padding-left: 1rem;
}

i {
    float: left;
    width: 1.5rem;
    padding-right: 0.5rem;
    text-align: center;
}

/*
span.tism {
    margin-top: -170px;
    padding-bottom: 130px;
    display: block;
}

span.footnote {
    margin-top: -230px;
    padding-bottom: 210px;
    display: inline-block;
}
*/

.reg {
    font-size: 0.5rem;
}

/* Header Tisms */


header {
    max-width: 100%;
    max-height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsla(210, 15%, 15%, 0.9);
    z-index: 5;
    box-shadow: 0 0.1rem 0.4rem hsla(210, 15%, 15%, 1);
}

/* Style the navigation menu */
nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 5;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#navLinks {
    display: none;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 480px) {
    #navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #navLinks a {
        display: block;
    }

    #navLinks a:hover {
        background-color: hsla(210, 25%, 25%, 1);
    }
}

#navLinks a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

/* Style navigation menu links */
nav a {
  color: white;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 1.4rem;
}

nav a img {
    max-height: 3rem;
}

/* Style the hamburger menu */
nav a.icon {
    width: 1.6rem;
    position: absolute;
    right: 0.6rem;
    top: 0;
    font-size: 1.8rem;
    margin-top: 1.7rem;
    margin-right: 1.9rem;
    padding: 0;
}

@media screen and (min-width: 480px) {
    nav a.icon {
        display: none;
    }
}

/* Add a grey background color on mouse-over 
nav a:hover {
  background-color: hsla(210, 25%, 25%, 1);
}
*/

/* Style the active link (or home/logo) */
.active {
    color: white;
    display: grid;
    max-height: 3.5rem;
    grid-template-columns: auto auto;
    grid-template-areas: "img h1";
    padding-left: 1rem;
}

#logo {
    position: relative;
    bottom: 1rem;
    left: 0.5rem;
}

#currentcaret {
    float: right;
    padding-right: 4rem;
}

#contactcaret {
    float: right;
    padding-right: 4rem;
}

/* Sidebar Tisms */

.sidebar {
    display: none;
}

@media only screen and (min-width: 1180px) {

    .sidebar {
        display: flex;
        box-sizing: border-box;
        padding-top: 9.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        width: 16%;
        background-color: hsla(210, 22%, 22%, 1);
        border: none;
        z-index: 3;
        box-shadow: 0.1rem 0 0.4rem hsla(210, 15%, 15%, 1);
    }

    .sidebar a {
        padding: 0.5rem 1rem;
        display: block;
        color: hsla(217, 52%, 90%, 1);
    }

    .sidebar a:hover {
        background-color: hsla(210, 28%, 28%, 1);
    }

    .sidebar .category {
        text-indent: -0.5rem;
        font-weight: normal;
        font-size: 1.1rem;
        background-color: hsla(210, 23%, 23%, 1);
        border: 1px solid hsla(210, 20%, 20%, 1);
        box-shadow: 0.1rem 0.1rem 0.4rem hsla(210, 15%, 15%, 1);
    }

    .sidebar .category:hover {
        background-color: hsla(210, 30%, 30%, 1);
    }

    .sidebar .subdiv {
        padding-left: 2rem;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .sidebar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE and Edge */
    .sidebar {
    -ms-overflow-style: none;
    }

}

@media only screen and (max-width: 1408px) {
    .sidebar i {
        display: none;
    }
}

/* Context Nav Tisms */

.context-nav {
    display: none;
}

@media only screen and (min-width: 1180px) {

    .context-nav {
        display: flex;
        box-sizing: border-box;
        padding-top: 9.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        right: 0;
        overflow-y: scroll;
        height: 100%;
        width: 14%;
        background-color: hsla(210, 22%, 22%, 1);
        border: none;
        z-index: 3;
        box-shadow: -0.1rem 0 0.4rem hsla(210, 15%, 15%, 1);
    }

    .context-nav a {
        padding: 0.5rem 1rem;
        display: block;
        color: hsla(217, 52%, 90%, 1);
    }

    .context-nav a:hover {
        background-color: hsla(210, 28%, 28%, 1);
    }

    .context-nav .category {
        text-indent: -0.5rem;
        font-weight: normal;
        font-size: 1.1rem;
        background-color: hsla(210, 23%, 23%, 1);
        border: 1px solid hsla(210, 20%, 20%, 1);
        box-shadow: -0.1rem 0.1rem 0.4rem hsla(210, 15%, 15%, 1);
    }

    .context-nav .category:hover {
        background-color: hsla(210, 30%, 30%, 1);
    }

    .context-nav .subdiv {
        padding-left: 2rem;
    }

}

@media only screen and (max-height: 590px) {
    #back-to-top {
        display: none;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.context-nav::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE and Edge */
.context-nav {
  -ms-overflow-style: none;
}

/* Footer Tisms */

footer {
    max-height: 9rem;
    width: 100%;
    flex-shrink: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, hsla(210, 15%, 15%, 1), hsla(210, 20%, 20%, 1));
    box-shadow: 0 -0.1rem 0.4rem hsla(210, 15%, 15%, 0.5);
}

.footer-elements {
    max-height: 9rem;
    margin-left: 16%;
    margin-right: 14%;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img {
    max-height: 5rem;
    padding: 1rem;
    width: auto;
}

footer a {
    display: block;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
}

footer p {
    display: block;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    text-align: right;
}

footer a:hover{
    background-color: hsla(210, 25%, 25%, 0.9)
}

.contact-tisms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copy-tisms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#back-to-top {
    text-align: right;
}

.fa-arrow-alt-circle-up {
    float: right;
    padding-left: 0.5rem;
    padding-right: 0;
}

.spacer:hover, .copy:hover{
    background-color: initial;
}

/* Body Tisms */

.container {
    max-width: 100%;
    height: auto;
}

.main {
    box-sizing: border-box;
    max-width: 65%;
    margin-left: 18.5%;
    background-color: hsla(210, 22%, 22%, 1);
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .fas {
    float: right;
    padding-top: 0.1rem;
}

.main a {
    color: hsla(217, 52%, 70%, 1)
}

#first {
    margin-top: 10.5rem;
}

.section_title {
    width: auto;
    padding: 1rem;
    margin: auto;
}

.section_break {
    width: 100%;
    padding: 1rem;
}

.company {
    font-style: italic;
}

.start {
    text-align: left;
}

.dash {
    text-align: center;
}

.end {
    text-align: right;
}

.institution, .date, .position, .category, .contact_type {
    font-weight: bold;
}

/* Introduction Tisms*/

.top {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-text {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 200px;
}

#me {
    width: 480px;
    max-width: 100%;
    padding: 1rem;
    flex: 1 1 480px;
}

.greeting {
    grid-area: greeting;
    padding-left: 1rem;
}

.introduction {
    grid-area: introduction;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image {
    grid-area: image;
}

/* Endorsement Tisms */

blockquote {
    quotes: "“" "”";
    margin: 0;
    max-width: 100%;
    padding: 1em;
}

blockquote:before {
    color: white;
    font-family: georgia;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: white;
    font-family: georgia;
    content: close-quote;
    font-size: 4em;
    line-height: 1em;
    float: right;
}

blockquote p {
    display: inline;
}

.rec {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 3rem;
    width: 100%;
}

.rec h3 {
    display: block;
    margin: 0;
}

.rec-name {
    padding-left: 1rem;
    margin: 0;
}

.rec-title, .rec-company {
    font-style: italic;
    margin: 0;
    font-weight: normal;
}

.rec-link {
    text-align: right;
    float: right;
    padding: 1rem;
}

/* Education Tisms */

.education {
    max-width: 100%;
    font-size: 1rem;
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.education p {
    display: block;
}

.institution {
    min-width: 13rem;
}

.degree {
    min-width: 3rem;
}

.major {
    min-width: 6rem;
}

.gpa {
    min-width: 5rem;
}

.dates {
    min-width: 11rem;
    display: flex;
    justify-content: space-between;
}

.date-start {
    min-width: 5rem;
    font-weight: bold;
}

.date-dash {
    min-width: 1rem;
    font-weight: bold;
    text-align: center;
}

.date-end {
    min-width: 5rem;
    font-weight: bold;
    text-align: right;
}

#present {
    text-align: center;
}

/* Work Experience */

.job {
    display: flex;
    max-width: 100%;
    padding: 0 1.5rem;
    flex-flow: row wrap;
    justify-content: space-between;
}

.job p {
    display: block;
}

.position {
    min-width: 14rem;
}

.company {
    min-width: 12rem;
}

.location {
    min-width: 8rem;
}

/* Presentation Tisms*/

.presentations {
    max-width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.presentations p {
    display: block;
}

.title-tisms {
    display: flex;
    flex-flow: row wrap;
    min-width: 45%;
}

.title {
    padding-right: 0.5rem;
}

.details {
    display: flex;
    min-width: 25%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.venue {
    text-align: left;
    font-style: italic;
}

.date-tism {
    font-weight: bold;
    text-align: right;
}

/* Skill Tisms */

.skills {
    display: flex;
    flex-flow: row wrap;
}

.skills p {
    display: block;
}

.skill-cat {
    display: block;
    flex: 1 1 32rem;
}

#software {
    padding-right: 2.5rem;
}

.cat-title {
    padding-left: 1.5rem;
}

.sub-cat {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 2.5rem;
}

.kind {
    font-weight: bold;
    min-width: 14rem;
    padding: 0;
    margin: 0.5rem 0;
}

.skill-list {
    flex: 1 1 14rem;
    padding: 0;
    margin: 0.5rem 0;
}

.note {
    text-align: right;
    padding-right: 1.5rem;
}

/* Hyper-Specific Tisms */

#home {
    color: white;
}

#start {
    margin-top: -270px;
    padding-bottom: 250px;
    display: inline-block;
}

#intext {
    float: none;
    padding-right: 0px;
}