/* General Tisms */
html {
    height: 100%;
    background: hsla(0, 25%, 25%, 1);
    color: white;
    font-family: optima;
}

body {
    font-family: optima;
    padding-top: 20px;
}

a {
    color: hsla(7, 52%, 80%, 1);
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    padding-left: 20px;
    font-size: 24px;
}

p {
    font-size: 20px;
    text-align: justify;
}

table {
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    font-size: 20px;
}

hr {
    width: 400px;
}

span {
    padding-left: 20px;
}

span.tism {
    margin-top: -170px;
    padding-bottom: 130px;
    display: block;
}

span.footnote {
    margin-top: -230px;
    padding-bottom: 210px;
    display: inline-block;
}

/* Header Tisms */

.invisible-header {
    visibility: hidden;
    height: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 5;
}

.banner {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "name nav";
}

#name {
    display: inline-block;
    width: 180px;
    grid-area: name;
}

nav {
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: 40px;
    grid-template-areas: "a b c d e";
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.dropdown {
    text-align: center;
    position: relative;
    grid-area: a;
    width: 192px;
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
    color: hsla(7, 52%, 80%, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 192px;
}

.dropdown:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contents-table {
    display: grid;
    padding-bottom: 30px;
    width: 192px;
    grid-template-columns: 192px;
    grid-template-rows: repeat(2, 40px);
    grid-template-areas: "item1" "item2";
}

.content {
    position: relative;
    top: 10px;
}

.item {
    text-align: left;
    width: 152px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.box {
    text-align: center;
    padding-top: 10px;
}

.box:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
    text-align: center;
}

/* Contact Dropdown Tisms*/

.dummy {
    color: white;
}

.dropcontact {
    text-align: center;
    position: relative;
    grid-area: d;
    font-size: 20px;
    width: 192px;
    height: 30px;
    padding-top: 10px;
    color: hsla(7, 52%, 80%, 1);
}

.dropcontact-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 360px;
}

.dropcontact:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropcontact:hover .dropcontact-content {
    display: block;
}

.dropcontact-table {
    display: grid;
    width: 360px;
    padding-bottom: 30px;
    grid-template-columns: 360px;
    grid-template-rows: repeat(3, 40px);
    grid-template-areas: "e-mail" "cell-no" "linked-in";
}

.contact-content {
    position: relative;
    top: 10px;
}

.contact-item {
    text-align: left;
    width: 320px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.email-address {
    grid-area: e-mail;
}

.cell-no {
    grid-area: cell-no;
}

.linked-in {
    grid-area: linked-in;
}

/* Body Tisms */

.score {
    display: grid;
    margin: auto;
    background-color: hsla(0, 22%, 22%, 1);
    padding: 20px;
    width: 920px;
    grid-template-rows: 80px 40px repeat(10, auto) 300px;
    grid-row-gap: 40px;
    grid-template-areas: "h1" "h2" "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8" "p9" "p10" "text";
}

.section_title {
    width: 900px;
    padding: 10px;
    margin: auto;
}

.section_break {
    padding: 20px;
}

div {
    margin: auto;
}

.h1 {
    text-align: center;
    grid-area: h1;
    padding-top: 50px;
 }

.h2 {
    text-align: center;
    grid-area: h2;
    font-style: italic;
    padding-left: 0px;
}

.p1 {
    grid-area: p1;
    border: 20px solid white;
}

.p2 {
    grid-area: p2;
    border: 20px solid white;
}

.p3 {
    grid-area: p3;
    border: 20px solid white;
}

.p4 {
    grid-area: p4;
    border: 20px solid white;
}

.p5 {
    grid-area: p5;
    border: 20px solid white;
}

.p6 {
    grid-area: p6;
    border: 20px solid white;
}

.p7 {
    grid-area: p7;
    border: 20px solid white;
}

.p8 {
    grid-area: p8;
    border: 20px solid white;
}

.p9 {
    grid-area: p9;
    border: 20px solid white;
}

.p10 {
    grid-area: p10;
    border: 20px solid white;
}

.p11 {
    grid-area: p11;
    border: 20px solid white;
}

.text {
    grid-area: text;
    width: 880px;
}

.textbox {
    width: 960px;
}

.text-title {
    padding-left: 0px;
}

.attribution {
    padding-left: 40px;
}

/* Footer Tisms */

footer {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, hsla(0, 15%, 15%, 1), hsla(0, 20%, 20%, 1));
    padding-bottom: 20px;
}

#contact_header {
    width: 930px;
    margin: auto;
    padding-top: 20px;
}

.contact {
    display: grid;
    margin: auto;
    width: 920px;
    grid-template-columns: 1fr 2fr 8fr;
    grid-column-gap: 100px;
    grid-template-rows: 25px 25px 25px;
    grid-template-areas: "email emails emails" "cellno cellnos cellnos" "online onlines copyright";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.email {
    grid-area: email;
    font-weight: bold;
}

.emails {
    grid-area: emails;
}

.cellno {
    grid-area: cellno;
    font-weight: bold;
}

.cellnos {
    grid-area: cellnos;
}

.online {
    grid-area: online;
    font-weight: bold;
}

.onlines {
    grid-area: onlines;
}

.copyright {
    grid-area: copyright;
    text-align: right;
}

/* Hyper-Specific Tisms */

#home {
    color: white;
}