/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: hsla(210, 25%, 25%, 0.9);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

.subnav #currentLinks {
    display: none;
}

.subnav #contactLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#currentLinks a {
    padding-left: 2rem;
}

#contactLinks a {
    padding-left: 2rem;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: hsla(210, 15%, 15%, 1);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/

/* Style the active link (or home/logo) */
.active {
    background-color: hsla(210, 15%, 15%, 1);
    color: white;
}