/* General Tisms */
html {
    height: 100%;
    background: hsla(0, 25%, 25%, 1);
    color: white;
    font-family: optima;
}

body {
    font-family: optima;
    padding-top: 20px;
}

a {
    color: hsla(7, 52%, 80%, 1);
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    padding-left: 20px;
    font-size: 24px;
}

p {
    font-size: 20px;
}

table {
    padding-left: 40px;
    padding-right: 40px;
    width: 920px;
    font-size: 20px;
}

hr {
    width: 400px;
}

span {
    padding-left: 20px;
}

span.tism {
    margin-top: -170px;
    padding-bottom: 130px;
    display: block;
}

span.footnote {
    margin-top: -230px;
    padding-bottom: 210px;
    display: inline-block;
}

/* Header Tisms */

.invisible-header {
    visibility: hidden;
    height: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 5;
}

.banner {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "name nav";
}

#name {
    display: inline-block;
    width: 180px;
    grid-area: name;
}

nav {
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: 40px;
    grid-template-areas: "a b c d e";
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.dropdown {
    text-align: center;
    position: relative;
    grid-area: a;
    width: 192px;
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
    color: hsla(7, 52%, 80%, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 520px;
    overflow: auto;
}

.dropdown:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contents-table {
    display: grid;
    padding-bottom: 30px;
    width: 520px;
    grid-template-columns: 260px 260px;
    grid-template-rows: repeat(9, 40px);
    grid-template-areas: "item1 item10" "item2 item11" "item3 item12" "item4 item13" "item5 item14" "item6 item15" "item7 item16" "item8 item17" "item9 item9";
}

.content {
    position: relative;
    top: 10px;
}

.item {
    text-align: left;
    width: 220px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

i. {
    grid-area: item1;
}

.ii {
    grid-area: item2;
}

.iii {
    grid-area: item3;
}

.iv {
    grid-area: item4;
}

.v {
    grid-area: item5;
}

.vi {
    grid-area: item6;
}

.vii {
    grid-area: item7;
}

.viii {
    grid-area: item8;
}

.ix {
    grid-area: item9;
}

.x {
    grid-area: item10;
}

.xi {
    grid-area: item11;
}

.xii {
    grid-area: item12;
}

.xiii {
    grid-area: item13;
}

.xiv {
    grid-area: item14;
}

.xv {
    grid-area: item15;
}

.xvi {
    grid-area: item16;
}

.xvii {
    grid-area: item17;
}

.box {
    text-align: center;
    padding-top: 10px;
}

.box:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
    text-align: center;
}

/* Contact Dropdown Tisms*/

.dummy {
    color: white;
}

.dropcontact {
    text-align: center;
    position: relative;
    grid-area: d;
    font-size: 20px;
    width: 192px;
    height: 30px;
    padding-top: 10px;
    color: hsla(7, 52%, 80%, 1);
}

.dropcontact-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: hsla(0, 15%, 15%, 0.9);
    z-index: 6;
    width: 384px;
}

.dropcontact:hover {
    background-color: hsla(0, 25%, 25%, 0.9)
}

.dropcontact:hover .dropcontact-content {
    display: block;
}

.dropcontact-table {
    display: grid;
    width: 384px;
    padding-bottom: 30px;
    grid-template-columns: 384px;
    grid-template-rows: repeat(3, 40px);
    grid-template-areas: "e-mail" "cell-no" "linked-in";
}

.contact-content {
    position: relative;
    top: 10px;
}

.contact-item {
    text-align: left;
    width: 344px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-item:hover {
    background-color: hsla(0, 25%, 25%, 0.9);
}

.email-address {
    grid-area: e-mail;
}

.cell-no {
    grid-area: cell-no;
}

.linked-in {
    grid-area: linked-in;
}

/* Body Tisms */

.score {
    display: grid;
    margin: auto;
    background-color: hsla(0, 22%, 22%, 1);
    padding: 20px;
    width: 920px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 40px repeat(11, auto);
    grid-row-gap: 40px;
    grid-template-areas: "h1" "h2" "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8" "p9" "p10" "p11";
}

div {
    margin: auto;
}

.h1 {
    text-align: center;
    grid-area: h1;
    padding-top: 50px;
}

.h2 {
    text-align: center;
    grid-area: h2;
    font-style: italic;
    padding-left: 0px;
}

.p1 {
    grid-area: p1;
    border: 20px solid white;
}

.p2 {
    grid-area: p2;
    border: 20px solid white;
}

.p3 {
    grid-area: p3;
    border: 20px solid white;
}

.p4 {
    grid-area: p4;
    border: 20px solid white;
}

.p5 {
    grid-area: p5;
    border: 20px solid white;
}

.p6 {
    grid-area: p6;
    border: 20px solid white;
}

.p7 {
    grid-area: p7;
    border: 20px solid white;
}

.p8 {
    grid-area: p8;
    border: 20px solid white;
}

.p9 {
    grid-area: p9;
    border: 20px solid white;
}

.p10 {
    grid-area: p10;
    border: 20px solid white;
}

.p11 {
    grid-area: p11;
    border: 20px solid white;
}

.p12 {
    grid-area: p12;
    border: 20px solid white;
}

.p13 {
    grid-area: p13;
    border: 20px solid white;
}

.p14 {
    grid-area: p14;
    border: 20px solid white;
}

.p15 {
    grid-area: p15;
    border: 20px solid white;
}

.p16 {
    grid-area: p16;
    border: 20px solid white;
}

.p17 {
    grid-area: p17;
    border: 20px solid white;
}

.p18 {
    grid-area: p18;
    border: 20px solid white;
}

.p19 {
    grid-area: p19;
    border: 20px solid white;
}

.main {
    display: grid;
    margin: auto;
    background-color: hsla(0, 22%, 22%, 1);
    padding: 20px;
    padding-bottom: 60px;
    width: 920px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title title" "latin english" "latin2 english2" "latin3 english3" "latin4 english4" "latin5 english5";
}

.title {
    grid-area: title;
    width: auto;
    padding-left: 60px;
}

.latin {
    grid-area: latin;
    font-style: italic;
    padding-left: 60px;
}

.english {
    grid-area: english;
    padding-left: 60px;
    padding-right: 60px;
}

.latin2 {
    grid-area: latin2;
    font-style: italic;
    padding-left: 60px;
}

.english2 {
    grid-area: english2;
    padding-left: 60px;
    padding-right: 60px;
}

.latin3 {
    grid-area: latin3;
    font-style: italic;
    padding-left: 60px;
}

.english3 {
    grid-area: english3;
    padding-left: 60px;
    padding-right: 60px;
}

.latin4 {
    grid-area: latin4;
    font-style: italic;
    padding-left: 60px;
}

.english4 {
    grid-area: english4;
    padding-left: 60px;
    padding-right: 60px;
}

.latin5 {
    grid-area: latin5;
    font-style: italic;
    padding-left: 60px;
}

.english5 {
    grid-area: english5;
    padding-left: 60px;
    padding-right: 60px;
}

.text {
    width: 800px;
}

.textbox {
    width: 960px;
}

/* Footer Tisms */

footer {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, hsla(0, 15%, 15%, 1), hsla(0, 20%, 20%, 1));
    padding-bottom: 20px;
}

#contact_header {
    width: 930px;
    margin: auto;
    padding-top: 20px;
}

.contact {
    display: grid;
    margin: auto;
    width: 920px;
    grid-template-columns: 1fr 2fr 8fr;
    grid-column-gap: 100px;
    grid-template-rows: 25px 25px 25px;
    grid-template-areas: "email emails emails" "cellno cellnos cellnos" "online onlines copyright";
    grid-row-gap: 3px;
    padding-bottom: 20px;
}

.email {
    grid-area: email;
    font-weight: bold;
}

.emails {
    grid-area: emails;
}

.cellno {
    grid-area: cellno;
    font-weight: bold;
}

.cellnos {
    grid-area: cellnos;
}

.online {
    grid-area: online;
    font-weight: bold;
}

.onlines {
    grid-area: onlines;
}

.copyright {
    grid-area: copyright;
    text-align: right;
}

/* Hyper-Specific Tisms */

#section_title {
    text-indent: -20px;
    padding-bottom: 20px;
}

.section_break {
    padding: 20px;
}

/*.main {
    display: grid;
    margin: auto;
    background-color: hsla(0, 22%, 22%, 1);
    padding: 20px;
    padding-bottom: 60px;
    width: 920px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title title" "latin english";
}*/

/*.buttons_next_only {
    display: grid;
    background-color: hsla(0, 22%, 22%, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 880px;
    margin: auto;
    grid-template-columns: 798px 82px;
    grid-template-areas: "maxspace next";
}

.buttons_previous_only {
    display: grid;
    background-color: hsla(0, 22%, 22%, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 880px;
    margin: auto;
    grid-template-columns: 115px 765px;
    grid-template-areas: "previous maxspace";
}*/

.buttons {
    display: grid;
    background-color: hsla(0, 22%, 22%, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 880px;
    margin: auto;
    grid-template-columns: 115px 683px 82px;
    grid-template-areas: "previous midspace next";
}

.button {
    text-align: right;
    padding: 10px;
}

.button:hover {
    background-color: hsla(180, 25%, 25%, 0.9);
    text-align: right;
}

.previous {
    grid-area: previous;
    font-weight: bold;
}

.midspace {
    grid-area: midspace;
}

.maxspace {
    grid-area: maxspace;
}

.next {
    grid-area: next;
    font-weight: bold;
    text-align: right;
}

#home {
    color: white;
}